body {
	background-color: #D5C6E0;
}
h1 {
	text-align:center;
	color: #28112B;
	font-family: "Garamond", serif;
	font-size: 2em;
}

h2 {
	margin: auto;
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 1.5em;
}

h2.namedEntity {
	margin-left: 15%;
	margin-right: 18%;
	text-align:left;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}


p {
	margin-left: 15%;
	margin-right: 18%;
	font-family: "Garamond", serif;
	font-size: 1.2em;
}

ul.nav {
    margin-left: 15%;
	margin-right: 18%;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:blue; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #189b80; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#ccece6;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}