body {
	background-color: #D5C6E0;
}
h1 {
	text-align:center;
	color: #28112B;
	font-family: "Garamond", serif;
	font-size: 2em;
}

h2 {
	margin: auto;
	text-align:center;
	font-family: "Garamond", serif;
	font-size: 1.5em;
}

h2.namedEntity {
	margin-left: 15%;
	margin-right: 18%;
	text-align:left;
	font-family: "Garamond", serif;
	font-size: 1.7em;
}


p {
	margin-left: 15%;
	margin-right: 18%;
	font-family: "Garamond", serif;
	font-size: 1.2em;
}
